#body1{
      padding-top: 15%;
      background-color: rgb(182, 244, 252);
  }
   #body2{
      
      background-color:  pink;
  }
  #body3{
    background-color: darkslategray;
}
  #form1{
    background-color:rgb(189, 200, 209) ;

}
  #logform{
    background-color:rgb(243, 183, 127);
}
  #log1{
    background-color:rgb(24, 190, 212) ;

}